<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LET'S PACK</title>
  </head>
  <body>
  	<form action="/action_page.php">
  		First name: <input type="text" name="fname"><br>
  		Last name: <input type="text" name="lname"><br>
  		<input type="submit" value="Submit">
	</form>
    <h1> About Let's Pack </h1>
    <p> Let's Pack is a traveling tool that creates a customized packing list for your next vacation!</p>
    <p> No matter the length, weather condition, or purpose of your next trip, Let's Pack will ensure that you are prepared for any adventure. </p>
  </body>
</html>